.header{
	width: 1200px;
	height: 350px;
	background-color: white;
	margin: 0 auto;
}
.header .header_top_left{
	height: 52px;
	
}
.header .header_top_left p{
	line-height: 52px;
	padding-left: 40px;
	display: block;
	color: #808080;
	background: url(../img/icon.jpg) 0 center no-repeat;
	float: left;
	
}
.header_top_left ul{
	float: right;
}
.header_top_left ul li{
	float: left;
	height: 52px;
	line-height: 52px;
	width: 98px;
	text-align: center;
}
.header_top_left ul li a{
	padding-right: 10px;
	border-right: 1px solid #808080;
}
.header_top_left ul .homepage{
	background: url(../img/icon1.png) 0 center no-repeat;
}
.header_top_left ul .homepage a{
	padding-left: 15px;
}
.header_top_left ul .login{
	background: url(../img/icon2.png) 0 center no-repeat;
}
.header_top_left ul .register{
	background: url(../img/icon3.png) 0 center no-repeat;
}
.header_top_left ul li a:hover{
	color: #f00;
}

.header .bg{
	width: 1200px;
	height: 300px;
	margin: 0 auto;
	background: url(../img/ccc.jpg);
	background-size:1200px 300px ;
	display: inline-block;
	position: relative;
}
.header .bg .advertisement{
	padding-top: 138px;
	padding-left: 350px;
	width: 300px;
	height: 53px;
	color: white;
	display: block;
}
.header .bg .advertisement p{
	background:rgba(0,0,0,0.2);
}
.header .advertisement p.adver{
	font-size: 25px;
	text-align: center;
}
.header .advertisement p.ad{
	font-size: 12px;
	padding: 0px 20px 0px 20px;
}
.header .bg .btn a{
	background-color: #f00;
	border-radius: 10px;
	color: white;
	padding:10px 15px;
}
.header .bg .btn{	
	display:block;
	padding-left: 450px;
	padding-top: 50px;
	line-height: 42px;
}
.header .bg .close
{
	display: block;
}
.header .bg .close p{
	position: absolute;
	right: 200px;
	top: 50px;
	color: #808080;
}
.content{
	width:1200px ;
	height: 3634px;
	margin: 0 auto;
}

.content .menu{
	height: 60px;
	background: #333333;
	position: relative;
}
.content .menu .demo{
	display: block;
}
.content .menu .demo img{
	float: left;
	padding-left: 250px;
	padding-top: 10px;
}

.content ul{
	display: block;
	height:60px ;
}
.content ul li{
	line:60px;
	line-height: 60px;
	text-align: center;
	float: left;
	/*padding-right:64px ;*/	
}
.content ul li a{
	color: white;
	padding-right:30px ;
	padding-left: 30px;
	border-right: 1px solid #000000;
}
.content ul li a:hover{
	color: #f00;
}
.content ul li.first{
	padding-left: 100px;
	background: url(../img/aaa - 副本.png) 0 center no-repeat;
}
.content .menu .select{
	display: block;
	width: 198px;
}
.content .menu .select input{
	position: absolute;
	right: 150px;
	top:18px;
	background: url(../img/ddd.jpg) no-repeat;
	color: white;
	border-radius: 14px;
	padding-left: 5px;
}
.content .title{
	width: 1200px;
	height: 188px;
	margin: 0 auto;
	background-color: #f2f2f2;
}

