.header{
	width: 1003px;
	height: 78px;
	background: url(../img/head_bg.jpg) repeat-x;
	margin: 0 auto;
}
.header .menu{
	float: right;
	margin: 0px,auto;
}
.header .menu li{
	float: left;
	height: 78px;
	width: 90px;
	line-height:78px ;
	text-align: center;
	background: url(../img/menu_bg.jpg) no-repeat;
}
.header .menu li a{
	display: block;
}
.menu li a:hover{
	color:white;
	background-color: #444;
}
.content{
	height:543px ;
	width: 1003px;
	margin: 0 auto;
	
}
.content img{
	height: 132px;
	margin: 0 auto;
	display: block;
}
.content .menu_left{
	float: left;
	width: 260px;
	height: 411px;
	border-right: 1px solid gray;
}
.content .menu_left ul li{
	height: 54px;
	line-height: 54px;
	text-align: center;
	display: block;
	
}
.content .menu_left ul li a{
	display: block;
}
.content .menu_left ul li a:hover{
	color:white;
	background: url(../img/sec_menu_bg_a.jpg);
}
.content .menu_left .selected{
	background: url(../img/sec_menu_bg_a.jpg);
}
.content .right_login{
	width:642px ;
	height: 411px;
	display: block;
	float: left;
}
.content .right_login img{
	float: left;
	display: block;
	width: 742px;
	height:54px ;
	display: block;
}
.content .information{
	margin: 0 auto;
	height: 411px;
	padding-left: 150px;
	padding-top: 50px;
}










.footer{
	width: 1003px;
	height: 78px;
	border-top:1px solid gray;
	margin: 0 auto;
	
}
.footer p{
	height: 39px;
	line-height: 39px;
	text-align: center;
	font-size: 12px;
}
	